/* 375*/
/*  812*/
html{
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }
  body{
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  :root {
    --scn-sm-w: 23.4375rem;
    --scn-sm-h: 50.75rem;
  }
  header{
    height: 3rem;
    background: cadetblue;
  }
  .container{
    margin: 0 auto;
    width: var(--scn-sm-w);
    height: var(--scn-sm-h);
    background: brown;
    display: flex;
    flex-direction: column;
  }
  .msg-box{
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    background: pink;
  }
  .msg {
    display: flex;
    background: rosybrown;
  }
  .form{
    width: 100%;
    height: 5%;
    display: flex;
  }
  .form :is(input, button){
    height: 100%;
  }
  .form input{
    flex: 1;
    padding: 0 1rem 0 1rem;
  }
  .form button{
    
  }